body{margin:40px;}

.slider-step p {
  margin-top: 10px;
}

.slider-row {
  display: table-row;
}

.slider {
  display: table;
  width: 100%;
  position: relative;
}

.slider-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}



.slider-step {
  display: table-cell;
  position: relative;
  padding-right: 25%;
}

.slider-step1 {
  display: table-cell;
  position: relative;
  padding-right: 25%;
}


.circle {
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 2px 0;
  background-color:wheat;
}

