

<div align="center"> <h1> Welcome to {{title}}</h1></div>
<input  class="slider" id="slider1" type="range" min="1" max="4"
        value="1"
        step="1"
        (click)="display($event)"/>


<div class="slider">
  <div class="slider-row">
    <div class="slider-step">
      <label class="circle" > All</label>
    </div>
    <div class="slider-step">
      <label class="circle"> Expired</label>

    </div>
    <div class="slider-step1">
      <label class="circle" >Active</label>
      <p></p>
    </div>
    <div>
      <label class="circle">Featured</label>

    </div>
  </div>
</div>




