
<app-new-cmp [statusReceived]="status"
          (change)="updateData($event)"></app-new-cmp>


<div *ngIf ="status!== 'All';  else allItems">
  <ul *ngFor = "let data of httpdata" >
    <li *ngIf="data.status=== status">
      {{data.name}}</li>
  </ul>
</div>

  <ng-template #allItems>
    <ul *ngFor = "let data of httpdata" >
      <li>
        {{data.name}}</li>
    </ul>
  </ng-template>




